environment       = __ENV_NAME__
branch            = __BRANCH__
__PROMOTES_FROM_LINE__
requires_approval = __REQUIRES_APPROVAL__
confirm           = __CONFIRM__
__SEED_LINE__
deploy            = __DEPLOY_PATH__
